.game-area{
    /* border: 2px solid black;
    height: 600px;
    width: 600px;
 
    margin: 50px auto;
    position: relative;  */

    width: 100%;
    border: 4px solid black;
    min-height: calc(100vh - 89px);
    margin: 50px auto;
    position: relative;
    box-shadow: 1px -2px 18px -2px rgba(101,85,85,0.74);
}
.game-area2{
    width: 100%;
    border: 5px groove black;
    min-height: calc(100vh - 89px);
    position: relative;
    box-shadow: 1px 5px 18px -2px rgb(28 28 28 / 84%);
}


    .background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height:  100vh ;
        background: linear-gradient(to bottom, rgba(232, 232, 232, 1.0),  rgba(65, 73, 83, 0.7));
    }
    .metal-font{
        font-family: thisSpecialFont!important;
        /* font-size: 10px; */
    }
    .score-section{
        width: 100%; 
        min-height: calc(100vh - 89px);
        margin: 50px auto;
    }

    .name-tag{
        text-align: center;
        font-size: 24px !important;
    }
    .name-tag2{
    padding: 10px;
    text-align: center;
    font-size: 35px !important;
    }
   
    .sub-name{
        color:#F05454;
    }
    .numeric-font{
        font-family: monospace !important;
        font-weight: bolder;
        font-size: 20px;
    }
    .score-tag{
        font-size: 15px;
    }
    .livesnake{
        width: 30px
    }