.game-area{
    border: 2px solid black;
    height: 600px;
    width: 600px;
    /* align-items: center; */
    margin: 50px auto;
    position: relative;}


    .snake-dot{
     position: absolute;   
     width: 2%;
     height: 2%;
     background-color:black;
     border: 2px solid #ffffff;
    }