@font-face {
    font-family: thisSpecialFont;
    src: url('../../assets/font/METAG___.TTF');
  }

.background{
    height:  100vh ;
    background: linear-gradient(to bottom, rgba(232, 232, 232, 1.0),  rgba(34, 41, 50, 0.7));
}

.metal-font{
    font-family: thisSpecialFont!important;
    /* font-size: 10px; */
}