

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:  100vh ;
    background: linear-gradient(to bottom, rgba(232, 232, 232, 1.0),  rgba(65, 73, 83, 0.7));
}

.modal .modal-content {
    background: linear-gradient(to bottom, rgba(232, 232, 232, 1.0),  rgba(65, 73, 83, 0.7));
}

.snake {
    height: 400px;
}

.metal-font{
    font-family: thisSpecialFont!important;
    /* font-size: 10px; */
}

.custom-button{
    margin-bottom: 10px;
    width: 50%;
}
h1 span {
    color: #F05454;
}
p span {
    color: #F05454;
}

.custom-button span{
    color: #F05454;
}

.home-container{
    margin-top: 150px;
    margin-bottom: 100px;
}